.root {
 
}

#tree-node {
	

}

#kpi-name {
	-fx-padding: 3;
	-fx-font-family: "Segoe UI Semibold";
	-fx-font-weight: bolder;
	    -fx-text-fill: black;
    -fx-font-size: 9.0pt;
	
}

#grid-label {
    -fx-font-size: 8.0pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-padding: 3;
    }

#grid-value {
	-fx-column-halignment: center ;
	 -fx-padding: 5;
}

#btNext {
	
	-fx-background-radius: 0;
	-fx-max-height: 17;
	-fx-min-height: 17;
	-fx-max-width: 17;
	-fx-min-width: 17;
}

.scroll-pane > .viewport {
   
}

